<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Student Form</title></head>
<body>
<h2 th:text="'Create Student'"></h2>
<form th:action="@{/student/save}" th:object="${student}" method="post">
    <p>
        <label>ID</label>
        <input type="text" th:field="*{id}" placeholder="e.g. S001" />
    </p>
    <p>
        <label>Name</label>
        <input type="text" th:field="*{name}" />
    </p>
    <p>
        <label>Year of Birth</label>
        <input type="number" th:field="*{yob}" />
    </p>
    <p>
        <label>GPA</label>
        <input step="0.01" type="number" th:field="*{gpa}" />
    </p>
<!--    <p>-->
<!--        <label>Major</label>-->
<!--        <select name="majorId">-->
<!--            <option th:each="m : ${majors}" th:value="${m.id}" th:text="${m.name}"></option>-->
<!--            <option value="" th:if="${majors.size() == 0}">No majors</option>-->
<!--        </select>-->
<!--    </p>-->
    <button type="submit">Save</button>
    <a th:href="@{/students}">Cancel</a>
</form>
</body>
</html>
